<div>
    <div>
        <a class="pull-left thumb-sm avatar m-l-n-md">
            <img src="images/a1.jpg" class="img-circle" alt="...">
        </a>
        <div class="m-l-lg">
            <div class="m-b-xs">
                <a href="" class="h4">史新立</a>
                <span class="text-muted m-l-sm pull-right">现在</span>
            </div>
            <div class="m-b">
                <div>不哭不闹不炫耀，安安分分一起老。不骂不吵不张扬，安安分分一起过。就算逃到天涯海角，也决不回头。就算哭到世界灭亡，也决不后悔。我想依靠你 永远在我旁边带路。我想牵着你 永远只会为你带路。偶尔有点小任性，为了等待你安抚。偶尔有点小情绪，为了引起你注意。所有的一切、都不是什么誓言。所谓的一切、到头来都是欺骗。 蓦然、心锁的钥匙新了不实用了。蓦然、心锁的钥匙旧了可以换了。
                </div>
                <div class="m-t-sm">
                    <a href="" class="text-muted m-xs"><i class="icon-action-redo"></i></a>
                    <a href="" class="text-muted m-xs"><i class="icon-star"></i></a>
                    <a href="" class="text-muted m-xs"><i class="icon-refresh"></i> 13</a>
                </div>
            </div>
        </div>
    </div>
    <!-- .comment-reply -->
    <div class="m-l-lg">
        <a class="pull-left thumb-sm avatar">
            <img src="images/a2.jpg" alt="...">
        </a>
        <div class="m-l-xxl panel b-a">
            <div class="panel-heading pos-rlt">
                <span class="arrow left pull-up"></span>
                <span class="text-muted m-l-sm pull-right">5m ago</span>
                <a href="">月亮的影子</a> 说的很好，不错不错。
            </div>
        </div>
    </div>
    <div class="m-l-lg">
        <a class="pull-left thumb-sm avatar">
            <img src="images/a5.jpg" alt="...">
        </a>
        <div class="m-l-xxl panel b-a">
            <div class="panel-heading pos-rlt">
                <span class="arrow left pull-up"></span>
                <span class="text-muted m-l-sm pull-right">10m ago</span>
                <a href="">大张李</a> 偶尔有点小情绪，为了引起你注意。所有的一切、都不是什么誓言。所谓的一切、到头来都是欺骗。 蓦然、心锁的钥匙新了不实用了。蓦然、心锁的钥匙旧了可以换了。恩恩，的确如此。
            </div>
        </div>
    </div>
    <div class="m-l-lg">
        <a class="pull-left thumb-sm avatar">
            <img src="images/a2.jpg" alt="...">
        </a>
        <div class="m-l-xxl panel b-a">
            <div class="panel-heading pos-rlt">
                <span class="arrow left pull-up"></span>
                <span class="text-muted m-l-sm pull-right">15m ago</span>
                <a href="">李琳</a> 我觉得你说的还是挺好的，很深刻，很有体会。希望你能过得越来越好，加油！
            </div>
        </div>
    </div>
    <div class="m-l-lg">
        <a class="pull-left thumb-sm avatar">
            <img src="images/a4.jpg" alt="...">
        </a>
        <div class="m-l-xxl panel b-a">
            <div class="panel-heading pos-rlt">
                <span class="arrow left pull-up"></span>
                <span class="text-muted m-l-sm pull-right">25m ago</span>
                <a href="">赵大成</a> 偶有，不错欧！
            </div>
        </div>
    </div>
    <!-- / .comment-reply -->
</div>
